joblib==1.1.0
matplotlib==3.5.3
numpy==1.23.2
Pillow==8.1.1
scikit-learn==1.1.2
scikit-plot==0.3.7
pandas==1.4.4
websocket-client==1.4.0
torch==1.12.1
torchvision==0.13.1
tqdm==4.64.0
python-dispatch==0.2.0
pyqt5==5.15.7
python-dotenv==0.21.0